@import "tailwindcss";
@config "../tailwind.config.js";


:root {
    --my-purple: #4b0082ff;
    --my-cyan: #00ffffff;
    --my-black: #1c1c1cff;
    --white: #ffffffff;
    --my-green: #00ff88ff;
}


/*--- FORM REGISTRAZIONE ---*/
.heroui-input-label-outside {
    color: white !important;
}

.heroui-input-label-outside[data-filled="true"],
.heroui-input-label-outside[data-focused="true"] {
    color: white !important;
}
/*--- FINE FORM REGISTRAZIONE ---*/

.gradient-text {
    background: linear-gradient(90deg, #ffffff, #a0a0a0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}